<template>

    <footer>

        <div id="footer"> 
            <p>Projet créé dans le cadre du cours de Programmation Web — 2022 </p>
            <p>Laura Bonhomme — IMAC 2 </p>
        </div>

    </footer>
    
</template>

<script>

    export default {
        name: "footerLB"
    }
    
</script>

<style>

    #footer {
        background: #ffd1fc;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #4c5fbb;
        border-top: solid;
        border-width: 3 px;
        border-color: #FAFAFA;
    }

</style>