<template>
    
    <section id="management-home">

        <div id="management-fixed">

            <div id="logo-newsic" class="logo">
            <img src="../../src/assets/logo_newsic.png" alt="Logo_Newsic" width="40%"/>
            </div>

            <div class="management-form">

                <input id="management-artist" :value="artist" v-on:input="onArtistChanged"
                type="text"
                maxlength="25"
                placeholder="Nom de l'artiste">

                <select id="management-genre" :value="genre" v-on:input="onGenreChanged">
                <option value="">Genre</option>
                <option value=29>Anime</option>
                <option value=20>Alternative</option>
                <option value=2>Blues</option>
                <option value=3>Comedy</option>
                <option value=5>Classical</option>
                <option value=6>Country</option>
                <option value=17>Dance</option>
                <option value=1137>Disco</option>
                <option value=50000063>Disney</option>
                <option value=7>Electronic</option>
                <option value=1289>Folk</option>
                <option value=1003>Grunge</option>
                <option value=27>J-Pop</option>
                <option value=11>Jazz</option>
                <option value=51>K-Pop</option>
                <option value=9>Opera</option>
                <option value=14>Pop</option>
                <option value=1006>Punk</option>
                <option value=15>R&B</option>
                <option value=18>Rap</option>
                <option value=24>Reggae</option>
                <option value=21>Rock</option>
                <option value=16>Sountrack</option>
                
                </select>

                <select id="management-order" :value="MusicSortType" v-on:input="onSortTypeChanged">
                <option value="">Trier alphabétiquement</option>
                <option value="AZartists">Par nom d'artiste</option>
                <option value="AZtitles">Par titre</option>
                </select>

            </div>

            <!--<button class="management-rechercher">Rechercher</button>-->
        </div>

        </section>

</template>

<script>

    export default {
        name: "management",
        props: {
            genre: String,
            artist: String,
            MusicSortType: String
        },

        // Enregistrement de la page
        watch: {
            genre: function(newGenre) {
                localStorage.setItem("genre", newGenre)
            },
            artist: function(newArtist) {
                localStorage.setItem("artist", newArtist)
            },
            MusicSortType: function(newSort) {
                localStorage.setItem("sortType", newSort)
            }
        },

        // Synchronisation des données entre les deux fichiers
        methods: {
            onArtistChanged(event) {
                this.$emit('update:artist', event.target.value)
            },
            onGenreChanged(event) {
                this.$emit('update:genre', event.target.value)
            },
            onSortTypeChanged(event) {
                this.$emit('update:MusicSortType', event.target.value)
            }
        }
    }


</script>



<style>

    #management-home {
        max-width: 350px;
    }

    #management-fixed {
        /*position: fixed;
        top: 0;
        left: 0;
        margin-left: 250px;*/
        margin-top: -100px;
    }

    .management-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.6);
        padding: 20px;
        padding-bottom: 180px;
        border-radius: 15px;
        margin-top: 10px;
        column-gap: 10px;
    }

    .management-form input::placeholder {
        color: #b3aed6;
    }

    #management-artist {
        width: 270px;
        height: 50px;
        border-radius: 10px;
        padding-left: 15px;
        /*: 10px;*/
        font-size: 16px;
    }

    #management-genre, #management-order {
        width: 288px;
        height: 50px;
        border-radius: 10px;
        padding-left: 15px;
        /*margin: 10px;*/
        font-size: 16px;
    }

    .management-form-text {
        margin-top: 20px;
        margin-left: 12px;
        color: #b3aed6;
    }

    .management-checkbox {
        font-size: 18px;
        margin-right: 10px;
    }

    .management-form-sort-artist, .management-form-sort-title {
        margin-top: 10px;
        margin-left: 25px;
        color: #b3aed6;
    }

    .management-rechercher {
        width: 348px;
        font-size: 28px;
        color: #4c5fbb;
        background-color: white;
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 20px;
        box-shadow: 3px 3px 5px 0px #a2a0aa;
    }

    @media screen and (max-width: 1150px) {

        #management-home {
            max-width: 640px;
            margin-top: 50px;
        }

        .management-form {
            padding-bottom: 20px;
            flex-direction: row;
            max-width: 640px;
            margin-bottom: 50px;
            justify-content: center;
        }

    #management-artist {
        width: 180px;
    }

    #management-genre, #management-order {
        width: 180px;
    }
        
    }

</style>