<template>

  <div id="music-bloc">

    <div class="img">
      <img src="../assets/yuzmv.png" alt="Yuzmv" width="100%"/>
    </div>

    <div class="text">

      <div class="lign" id="lign-artiste">

        <div class="title" id="title-artiste">
          <h3> ARTISTE </h3>
        </div>

        <div class="fill" id="fill-artiste">
          <p> {{artist}} </p>
        </div>

      </div>

      <div class="lign" id="lign-titre">

        <div class="title" id="title-titre">
          <h3> TITRE </h3>
        </div>

        <div class="fill" id="fill-titre">
          <p> {{title}} </p>
        </div>

      </div>

      <!--
      <div class="lign" id="lign-genre">

        <div class="title" id="title-genre">
          <h3> GENRE </h3>
        </div>

        <div class="fill" id="fill-genre">
          <p> GENRE </p>
        </div>

      </div> -->

    </div>
  </div>

</template>

<script>

  export default {
    name: 'MusicBloc',
    props: {
      artist: String,
      title: String,
    },
	}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  #music-bloc {
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    min-width: 600px;
    max-width: 800px;
    margin-bottom: 20px;
  }

  .img {
    height: 90px;
    width: 90px;
  }

  .lign {
    margin-left: 30px;
  }

  #lign-artiste {
    margin-bottom: 10px;
  }

  /*#lign-titre {
    margin-bottom: 15px;
  }*/

  .title {
    color: #b3aed6;
    display: inline-block;
    margin-bottom: 2px;
  }

  .fill {
    font-size: 20px;
    color: #4c5fbb;
    display: inline-block;
  }

  #fill-artiste {
    margin-left: 25px;
  }

  #fill-titre {
    margin-left: 52px;
  }

  #fill-genre {
    margin-left: 39px;
  }

</style>
