<template>

  <div id="music-gallery">

    <div id="music-gallery-home">

      <management
        :artist.sync = "artist"
        :genre.sync = "genre"
        :MusicSortType.sync = "MusicSortType"/>

      <div id="music-list">
        <MusicBloc
          v-for = "musicBloc in musicOrganizedData"
          :key = "musicBloc.id"
          :artist = "musicBloc.track.artist_name"
          :title = "musicBloc.track.track_name"/>
      </div>

    </div>

    <footerLB/>

  </div>

</template>

<script>
  import management from './components/management.vue'
  import MusicBloc from './components/music.vue'
  import footerLB from './components/footerLB.vue'
  import { getMusicTracksData } from '@/services/api/musicAPI.js'

  export default {
    name: 'App',
    components: {
      MusicBloc,
      management,
      footerLB
    },

    computed: {
      musicOrganizedData : function() {

        // filter
        const filterFunc = (a) => {
          if (this.genre == "")
            return a.track.artist_name.toLowerCase().includes(this.artist.toLowerCase())
          else {
            let genreFind = false
            a.track.primary_genres.music_genre_list.forEach(element => {
              //console.log(element.music_genre.music_genre_id == this.genre)
              if (element.music_genre.music_genre_parent_id == this.genre || element.music_genre.music_genre_id == this.genre) {
                genreFind = true
                //return a.track.artist_name.toLowerCase().includes(this.artist.toLowerCase())
              }
            })
              return genreFind && a.track.artist_name.toLowerCase().includes(this.artist.toLowerCase())
          }
        }

        let data = this.musicData.filter(filterFunc)

        // order
        if(this.MusicSortType) {
          const field = "AZartists".includes(this.MusicSortType) ? "artist_name" : "track_name"
          const comparator = (a,b) => a.track[field].localeCompare(b.track[field])
          data = data.sort(comparator)
        }

        return data
      }
    },

    data() {
      return {
        musicData: [],
        genre: localStorage.getItem("genre") || "",
        artist: localStorage.getItem("artist") || "",
        MusicSortType: localStorage.getItem("sortType") || "",
      }
    },

    created: function() {
      this.retrieveMusicData()
    },

    methods: {
      async retrieveMusicData() {
        this.musicData = await getMusicTracksData()
      }
    }

  }
</script>

<style>

  * {
    margin: 0;
    padding: 0;
  }

  body {
    background: linear-gradient(to top right, #ffd1fc, #fad0c6 );
    background-attachment: fixed;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100vw;
  }

  #music-gallery-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    /*margin-left: 18vw;
    margin-right: 18vw;*/
  }

  /*button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }*/

  #music-list {
    min-width: 640px;
    max-width: 640px;
    height: 84vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-left: 6vw;
  }

  @media screen and (max-width: 1150px) {

    #music-gallery-home {
      flex-direction: column;
      align-items: center;
    }

    #music-list {
      margin: 0px;
    }
    
  }

  @media screen and (max-width: 670px) {

    #music-gallery-home {
    
    }
    
  }

</style>
